/* Config CSS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* taille + bonne police */

a {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 22px;
}

p {
    font-family: "Jost", sans-serif;
    font-size: 22px;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 63px;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
}

li {
    list-style: none;
}

/* setup fonctions basiques */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* setup couleurs de fond */

.primary1 {
    background-color: #CDA274;
}

.primary2 {
    background-color: #292F36;
}

.primary3 {
    background-color: #4D5053;
}

.primary4 {
    background-color: #F4F0EC;
}

.white {
    color: white;
}


/* HEADER */


.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

.topM20 {
    margin-top: 20px;
}

.botM20 {
    margin-bottom: 20px;
}


/* HERO */


.hero {
    background-image: url(assets/Banner.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 0px 0px 0px 200px;
}

.btn {
    padding: 20px 40px;
    display: inline-block;
    border-radius: 18px;
}

.topP100 {
    padding: 100px;
}

/* SECTION 1 */

.box {
    width: 30%;
    padding: 20px;
}

.middle {
    text-align: center;
}

.topM200 {
    margin-top: 200px;
}

.botM200 {
    margin-bottom: 200px;
}

/* SECTION 2 */

.boxS2 {
    width: 48%;
}

.boxContact {
    width: 32px;
}

.imgS2 {
    border-radius: 0px 250px 0px 100px;
}

.topM50 {
    margin-top: 50px;
}

/* SECTION 3 */

.boxS3 {
    background-color: white;
    border-radius: 20px;
}

.topP50 {
    padding-top: 50px;
}

.botP75 {
    padding-bottom: 75px;
}

.botM200 {
    margin-bottom: 200px;
}